* {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 576px) {

    img {
        width:99%;
        text-align: center;
    }

    .benefits {
        font-size: 20px;
        padding-right:115px;
    }
   

    .burleywood {
        background-color: burlywood;
        color: white;
        padding: 5px;
        flex: auto;
}
.links {
    border-bottom: 1px solid gray;
    width: 90px;
    margin: 5px;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.562);
    padding: 5px;
}

.links:hover {
    text-shadow: 1px 1px 1px salmon;
    cursor: pointer;
}
.burleywood-wrap {
    display: flex;
    width: 100%;
}



.links {
       padding-left: 10px;
   }

    .Med {
        background-color: lightsalmon;
        width: 125px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.562);
        padding: 5px;
        color: white;

        
}

    .paragraph {
        font-weight: bold;
        max-width: 650px;
} 

    .contact {
        float:right;
    
}

.topStories {
    position: absolute;
    text-align: left;
    right: 35%;
    top: 73%;
    padding-left: 10px;
    width: 40%;
}


}
//made my own media query so text is not distorted
@media (min-width: 572px){

    .topStories{
        display: none;
    }
}

@media (min-width: 768px) {

    .burleywood-wrap {
        display: none;
    }

    .topStories {
        display: none;
    }

    .Med {
        
        top: 88%;
    }
}

/* \\Fullscreen */

@media (min-width: 992px) {

    .Med {
        top: 80%;
        margin: 5px;
    }

    .topStories {
        float: right;
        display: inline-block;
        top: 25px;
        right: 10px;
    }
    .topStoriesAnchor {
        font-weight: bold;
    }

    img {
        width: 58%;
    }

    .paragraph {
        top: 65%;
    }
    .burleywood-wrap {
        display: none;
    }
}
