
body{
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
  font-size: 15px;
}

.headerPhoto img {
  display: block;
  width: 40%;
  margin-left: 30%;  

}

.headerIcon {
  font-size: 300%;
  width: 30%;
  margin-left: 55%;
  display: flex;
  justify-content: flex-end;
  
}

.headerIcon a i {
  margin: 3px;
  color: teal;
}

nav {
  font-family: 'fredericka the great',fantasy;
  color:gray;
  background-color: lightgray;

  
  display: flex;
  justify-content: center;

}

nav ul {
  display: flex;
  margin: 2px;
}

nav li { 
  border-right: 2px solid white;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
a{
  text-decoration: none;
}

nav ul a:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}

.mainLogo img{
 width: 40%;
 margin-left: 25%;
}

.headerIcon { 
  font-size: 300%;
  width: 30%;
  margin-left: 65%;
  display: flex;
  justify-content: flex-end;
}

.headerPhotos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  
  
}


.headerPhotos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
  justify-items: center;
  align-items: center;
}
.headerPhoto1 img {
  width: 290px;
  height: 100px;
  object-fit: cover;
  object-position:40%;
  border: 2px solid gray;
}

.headerPhoto2 img {
  width: 290px;
  height: 100px;
  object-fit: cover;
  object-position: 10% 20%;
  border: 2px solid gray;
}
.pastaLeft {
  width: 50%;
}

.headerPhoto3 img {
  width: 290px;
  height: 100px;
  object-fit: cover;
  border: 2px solid gray;
}

.mainPara
{
  margin-left: 20%;
  margin-right: 20%; 
  line-height: 20px;
}

.pastaPassage {
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.pastaHeader {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  } 

  .glutenHeader {
    font-family: 'fredericka the great',fantasy;
    font-weight: bolder;
    font-size: 40px;
    color: gray;
    text-shadow: 1px 1px 1px rgba(129, 120, 120, 0.678);
    }

.glutenFree {
  line-height: 20px;
}

.pastaRight img {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  object-fit: cover;
  border: 2px solid gray;
  margin: 1%;
}
.pastaRight img:hover {
  opacity: .75;
}
   
  .pastaWrap {  
  
    display: flex;

}

