
.headerPhoto img {
  display: block;
  width: 40%;
  margin-left: 30%;  

}

.headerIcon {
  font-size: 300%;
  width: 30%;
  margin-left: 55%;
  display: flex;
  justify-content: flex-end;
  
}

.headerIcon a i {
  margin: 3px;
  color: teal;
}

nav {
  font-family: 'fredericka the great',fantasy;
  color:gray;
  background-color: lightgray;
  margin-left:10%;
  margin-right: 10%; 
  display: flex;
  justify-content: center;

}


nav ul {
  display: flex;
  margin: 2px;
  

}

nav li { 
  border-right: 2px solid white;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}
a{
  text-decoration: none;
}

nav ul a:hover {
  background-color: gray;
  color: white;
  cursor: pointer;

}

nav ul:active {
  color: white;
}

.photoFlex {
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.ourFood {
   margin: 15px; 
   border: 3px solid gray; 
  height: 550px;
  width: 320px;
}

.ourFoodPhoto img {
  width: 320px;
  height: auto;
}

.ourFoodHeader {
  margin-left: 4%;
  font-size: 16px;
  text-align: left;
}

.ourFoodPassage p{
  margin-left: 4%;
  margin-right: 4%;
  font-size: 12px;
  line-height: 20px;
}

.updates {
  margin: 15px;
  border: 3px solid gray;
  height: 500px;
  width: 320px;
}


.updatePhoto img{
  width: 320px;
  height: auto;
}

.updateHeader {
  margin-left: 4%;
  font-size: 16px;
  text-align: left;
}


.updates p {
  margin-left: 4%;
  margin-right: 4%;
  font-size: 12px;
  line-height: 20px;
}

.dinnerNight {
  margin: 15px;
  border: 3px solid gray;
  height: 550px;
  width:320px;
}

.dinnerNightHeader {
  margin-left: 4%;
  font-size: 16px;
  text-align: left;
}

.dinnerNight p {
  margin-left: 4%;
  margin-right: 4%;
  font-size: 12px;
  line-height: 20px;
}

 
.dinnerNightPhoto img {
  width: 320px;
  height: auto;
}

footer
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.footerIcon {
  margin: 2em;

}
.footerIcon a i {
  color: teal;
}


.footerPhoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;

}

.tomPhoto {
  margin: 1%;
  width: 320px;
  height: 100px;
  border: 2px solid black;
}

.tomPhoto img {
  width: 320px;
  height: 100%;
  object-fit:cover;
}

.threePlate {
  width: 320px;
  height: 100px;
  border: 2px solid black;
  
}

.threePlate img {
  width: 320px;
  height: 100%;
  object-fit: cover;
  object-position: 20% 49%;
}
.singlePlate { 
  margin: 1%;
  margin-right: 11%;
  width: 320px;
  height: 100px;
  border: 2px solid black;

}

.singlePlate img {
  border: 2px solid black;
  object-fit: cover;
  width: 320px;
  height: 100%;
  object-fit: cover;
  object-position: 20%
}

