body{
  border-left: 6 px solid grey;
  height: 100px;
}

i {
  color: teal;
  font-size: 500%;
}

img{
  display: block;
  left: 35%;
  right: 35%;
  width: 40%;
  align: center;
  

 
}
nav {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: 'fredericka the great',fantasy;
 color:gray;
  background-color: lightgray;
}

nav li { 
  list-style-type: none;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
/* grid-template-rows: auto; */
  display: flex;
  flex-direction: column;
}
/*
.zero {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}

.one {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}

.two {
  display: grid;
  grid-column: 3/4;
  grid-row: 1/2;
}
*/

nav ul:hover {
  color:rgb(65, 63, 63);
  background-color: rgb(65, 63, 63);
}

nav ul:active: {
  color: white;
  background-color: ;
}

